:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light pink;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fcd7cf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.site-name {
  font-family: Times, "Times New Roman", Georgia, serif;
  color: #fcfcfc;
  font-size: 35px;
  font-weight: 750;
  line-height: 1;
  margin-top: -10px;
  margin-bottom: -10px;
}

body{
  background-color: #fcd7cf;
}

.nav{
  background-color: #FF6EC7 !important;
}

.nav-link{
  color:#ffffff !important;
  margin-right: 20px;
}

.dropdown-normal{
  background-color: #AA336A !important;
  color:#000000 !important;
  border:none;
}

.page{
  padding-left: 50px; /* Remove extra padding */
  padding-right: 50px; /* Remove extra padding */
}

/* For smaller screen sizes, ensure layout doesn't overflow */
@media (max-width: 768px) {
  .home-row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.homeQuote{
  /* font-size: x-large;
  font-weight: bolder; */
  font-family: 'Helvetica';
  font-size: 2rem; /* Big and readable */
  font-weight: 600; /* Bold enough to stand out */
  line-height: 1.3; /* Spacing between lines for readability */
  text-align: center; 
  color: #333; /* Dark color for readability */
}

.card{
  width: 18rem !important;
  background-color: #F4C2C2 !important;
  color:#050505 !important;
  margin-top: 20px;
}

.card:hover{
  transform: scale(1.1) !important;
}

.card-btn:hover{
  transform: scale(1.2) !important;
}

.card-btn{
  margin-top: 50px;
  color: #000000;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.icon-img{
  max-width: 200px;
  height: 40px;
}

.image{
  /* max-width: 70%;\ */
  max-width: 100%; /* Adjust this if needed */
  height: auto;
  display: block;
}

.home-content{
  margin-top: 50px;
  /* border-radius: 8px;
  border: 1px solid;
  border-color: #FF6EC7; */
}

.home-row{
  margin-top: 50px;
}

.footer {
  margin-top: 50px;
  background-color: #FF6EC7 !important;
  color: #000000 !important;
}

.footer-content{
  margin-top: 50px !important;
}

.dev-info{
  margin-top: 60px !important;
}